<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>INIT_PARAM</param-name>
    <param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/ImplicitObject/Exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/ImplicitObject/Exception.jsp</location>
  </error-page>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OracleId</param-name>
    <param-value>ryan</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <filter>
    <filter-name>SetCharEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet>

    <servlet-name>MVC2mypage</servlet-name>

    <servlet-class>reservation.ReservationController</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>MVC2mypage</servlet-name>

    <url-pattern>/mvc2/mypage.do</url-pattern>

  </servlet-mapping>
  <servlet>

    <servlet-name>MVC2cancel</servlet-name>

    <servlet-class>reservation.ReservationCancelController</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>MVC2cancel</servlet-name>

    <url-pattern>/mvc2/cancel.do</url-pattern>

  </servlet-mapping>

  <servlet>

    <servlet-name>reWrite</servlet-name>

    <servlet-class>reviewPage.WriteController</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>reWrite</servlet-name>

    <url-pattern>/mvc2/reWrite.do</url-pattern>

  </servlet-mapping>
  <servlet>

    <servlet-name>review</servlet-name>

    <servlet-class>reviewPage.reviewController</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>review</servlet-name>

    <url-pattern>/mvc2/review.do</url-pattern>

  </servlet-mapping>
  
  <servlet>
    <servlet-name>Join</servlet-name>
    <servlet-class>membership.JoinController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join</servlet-name>
    <url-pattern>/mvc2/Join.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>signUp.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/mvc2/register.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReservationProcess</servlet-name>
    <servlet-class>reservation.ReservationProcessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationProcess</servlet-name>
    <url-pattern>/saveReservationInfo.do</url-pattern>
  </servlet-mapping>
      <!-- 서블릿 매핑 문의 리스트 -->
  <servlet>
    <servlet-name>MVC2InquiryList</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryList</servlet-name>
    <url-pattern>/mvc2/inquirylist.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 매핑 문의 뷰 -->
  <servlet>
    <servlet-name>MVC2InquiryView</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryView</servlet-name>
    <url-pattern>/mvc2/inquiryview.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 매핑 문의 글쓰기 -->
  <servlet>
    <servlet-name>MVC2InquiryWrite</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryWrite</servlet-name>
    <url-pattern>/mvc2/write.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 매핑 문의 글수정 -->
  <servlet>
    <servlet-name>MVC2InquiryEdit</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryEdit</servlet-name>
    <url-pattern>/mvc2/edit.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 매핑 문의 답변 -->
  <servlet>
    <servlet-name>MVC2InquiryAnswer</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryAnswerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryAnswer</servlet-name>
    <url-pattern>/mvc2/answer.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 매핑 문의 답변수정 -->
  <servlet>
    <servlet-name>MVC2InquiryAnswerEdit</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryAnswerEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryAnswerEdit</servlet-name>
    <url-pattern>/mvc2/answeredit.do</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿 매핑 문의 답변수정 -->
    <servlet>
    <servlet-name>MVC2InquiryDelete</servlet-name>
    <servlet-class>mvc2InquiryBoard.InquiryDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVC2InquiryDelete</servlet-name>
    <url-pattern>/mvc2/delete.do</url-pattern>
  </servlet-mapping>
</web-app>