@charset "UTF-8";
footer {    
    clear:both;    
    background-color:black;    
    color:white;    
    padding:10px;    
    text-align:center;    
    width:100%;    
    bottom:0;    
    left:auto;    
    right:auto;    
    position:relative;
    box-sizing: border-box;
    margin-top: 10px;
}