@charset "UTF-8";

#login-form {
    margin-top: 20px;
    float: right;
    width: 300px;
    margin-right: 20px;
}
#login-form a{
	margin-top: 0px;
}
#login-form input[type="text"],
#login-form input[type="password"]{
	width: 226px;
    height: 30px;
    padding: 10px;
}
#login-form input[type="submit"] {
    width: 250px;
    height: 54px;
    padding: 10px;
}