@charset "UTF-8";
p{
	text-align: center;
}
button{
	margin-left: 20px;
}
.image-container {
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-left: 300px;
}
.edit-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 150px;
}
.company-name {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}
