@charset "UTF-8";

.calender{
	display: none;
	width: 500px;
	height: 300px;
	margin-left: 200px;
}

.calendar.active {
    display: block;
}
.timetable {
    display: none;
}
.timetable.active {
    display: block;
}