@charset "UTF-8";

footer {
	width: 100%;
	height: 100x; /* footer의 높이 */
	position: absolute;
	bottom: 0;
	left: 0;
}

body {
	height: 100%;
}

.container {
	display: flex;
}

.image-container {
	display: inline-block;
	width: 500px;
	height: 400px;
	position: relative;
	margin-right: 40px;
}

.image-container:first-of-type {
	margin-left: 5%;
}

.edit-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 400px;
	background-color: rgba(255, 227, 238, 0.5);
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.edit-container p {
	padding-left: 0;
	font-size: 16px;
}

.edit-container button {
	font-size: 16px;
	padding: 10px 20px;
	border: 3px solid black;
	background-color: white;
	color: violet;
}

img:hover+.edit-container {
	display: block;
}

.edit-container p {
	algin: center;
	color: black;
	font-weight: bold;
}

.bx-wrapper {
	top: 5% !important;
	max-width: 100%;
	height: 100%;
}

.bx-caption {
	display: none;
}

.bx-pager {
	display: none;
}

.bx-wrapper img {
	width: 100%;
	height: 5% !important;
}