@charset "UTF-8";
/* li {
	list-style-type: none;
} */

.contents_area {
	display: flex;
	justify-content: center;
	align-items: center; /*  추가 */
	margin-bottom: 30px;
}

.card_body {
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	background-color: #f5f5f5;
	padding: 10px;
	width: 500px; /*원하는 크기로 지정 */
}

.service_link {
	color: black; /* 링크의 기본 색상 */
	text-decoration: none; /*  밑줄 제거 */
}

.review_area {
	color: black; /* 링크의 기본 색상 */
	text-decoration: none; /*  밑줄 제거 */
}

.used_list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
	.used_list {
		/* margin-left: -475px; */
		
	}
}

.upper_box {
	border-bottom: 1px solid #ccc;
	/* padding-bottom: 100px; */
	margin-bottom: 10px;
	height: 30px;
	/* padding-left: 20px; */
	/* padding-right: 300px; */
	/* width:300px; */
	/* border-bottom-height:100px; */
}

.upper_box, .lower_box {
	width: 100%;
	/* padding: 10px; */
	box-sizing: border-box;
}

.lower_box {
	white-space: nowrap;
	margin-left: -15px;
}

.book_room, .price {
	display: inline-block;
	/* width: 100%; */
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.price {
	/* margin-right: 220px; */
	/* width: 450px; */
	text-align: right;
	/* margin-left:10px; */
	/* padding:10px; */
	float: right;
}

.book_room {
	margin-left: 13px;
	width: 15px;
}

.title {
	font-size: 21px;
	font-weight: bold;
}

.id_link {
	margin-left: -40px;
}

.id_link {
	color: black; /* 링크의 기본 색상 */
	text-decoration: none; /*  밑줄 제거 */
}

.link_review_write, .re_reservation, .cancel_reservation {
	color: black; /* 링크의 기본 색상 */
	text-decoration: none; /*  밑줄 제거 */
}

.review_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.re_reservation .cancel_reservation {
	align-items: right;
}

.item {
	position: relative;
	left: 20px;
}

.info_links {
	font-size: 35px;
	font-weight: bold;
}

.container {
	margin: 0 auto;
	width: 25%;
}